@media screen and (max-width:500px) {
   *{
       font-size: 0.8rem;
       
   }

  

   #projects-heading{
    font-size: 1rem;
   }
  
   .p1,.p2{
       margin-top: 10%;
       width: 49%;
       
   }
   
   .read-more{
       width: 10%;
   }
   .profiles-container{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .btn{
       width: 50px;
      
   }
   .about-me-container{
    display: block;
   
    padding-left:10%;
    padding-right: 10%;
    margin: 1%;
  }

  .about-me>h3{
    font-size: 2rem;
    padding-left: 30%;
    padding-top: 10%;
}
.about-me-container img{
    height: 20vh;
    width: 20vw;
    border-radius: 50%;
    margin-left: 40%;
}
.about-me-container .picture{
    width: 100%;
    padding-right: 2%;
    letter-spacing: 0.005em;
    font-size: 0.7em;
}
#mine-pic-detail{
    margin-left: 27%;
    padding-top: 2%;
    padding-bottom: 15%;
}

   .about-me-container .description{
    font-size: 1rem;
    text-justify: inter-word ;
    letter-spacing: 0.025em;
  }
  
.contacts{
    font-size: 1rem;
    color: white;
    text-align: center;
    height: 300px;
    padding-top: 15%;
}
  .contact-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1%;
    height: 40%;
    
}

#up{
    position: relative;
    height: 50px;
    width:50px;
    margin-left: 10px;
}
#up-image{
    position: relative;
    
}
 }
 