.container{
    height:auto;
    width:900px;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    
   
}

div{
    height: 200px;
    
}
.item1{
    background-color: darkorange;
    width:200px;
 
    transition: width 4s;
}

.item2{  background-color: rgb(0, 60, 255);
    width:300px;
    flex-shrink: 20;
    
}

.item1:hover {
    width:600px;
    transition-timing-function: linear
}
