*{
    margin: 0px;
    padding: 0px;
   
}



.sign_up_form{
    height: 500px;
    width: 70%;  
    margin:20% auto 20%;
    padding: 100px 50px 100px;
    text-align: center;
    
    
}
form{
    height: 70%;
    width: 80%;
    text-indent: 10px;
    background-color: rgb(74, 150, 238);
    margin: 10px;
    padding: 20px;  
    letter-spacing: 1px;
    border-radius: 2%;

 
}

form>input,button,label{
   margin:10px;
}
.fullname,.email{
    
    height: 30px;
    width: 50%;
}

form>button{
    width: 40%;
    height: 10%;
    background-color:  rgba(76, 0, 130, 0.527);

    
   border-radius: 2%;
    color: white;
}

form>h3,button,input{
    font-size: 1.2rem;
}
form span{
    color: rgb(255, 0, 0);
    font-family: Helvetica, sans-serif;
    text-decoration: underline;
}